.hero-1 {
    position: relative;

    .array-button{
        position: absolute;
        top: 50%;
        right: 30px;
        left: 30px;
        transform: translateY(-50%);
        @include flex;
        justify-content: space-between;
        z-index: 9;

        @include breakpoint (max-xxl){
            display: none;
        }
  
    }

    .swiper-slide-active .hero-image {
        -webkit-transform: scale(1.12);
        -moz-transform: scale(1.12);
        transform: scale(1.12);
    }

    //pagination default
    .swiper-dot {
        position: absolute;
        bottom: 5%;
        left: 50%;
        z-index: 9;
        transform: translateX(-50%);

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            transition: 0.6s;
            background-color: $white;
            opacity: 1;
            border-radius: 10px;
            &:not(:last-child){
            margin-right: 10px;
            }
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: $theme-color;
            transition: 0.6s;
            position: relative;
    
            &::before{
            position: absolute;
            width: 22px;
            height: 22px;
            line-height: 22px;
            top: -6px;
            left: -6px;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid $theme-color;
            content: "";
            }
        }
    }

    .shape-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        bottom: 0;

        img {
            @include imgw;
        }
    }

    .shape-image-2 {
        position: absolute;
        top: -20%;
        right: 0;
        z-index: 9;

        @include breakpoint (max-xl){
            display: none;
        }
    }


    .hero-image {
        overflow: hidden;
        position: absolute !important;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: -2;
        background-size: cover;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;

        &::before {
            @include before;
            background: linear-gradient(90deg, #16171A 0.06%, rgba(22, 23, 26, 0) 99.93%);
            z-index: -1;
        }
    }

    .hero-content {
        padding: 180px 0 180px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-md){
            text-align: center;
            margin: 0 auto;
            padding: 130px 0 130px;
        }

        h6 {
            color: $white;
            background-color: $theme-color;
            padding: 8px 20px;
            line-height: 1;
            display: inline-block;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }

        h1 {
            color: $white;
            margin-bottom: 40px;

            @include breakpoint (max-xxl){
                font-size: 70px;
            }

            @include breakpoint (max-lg){
                font-size: 56px;
            }

            @include breakpoint (max-md){
                font-size: 43px;
            }

            @include breakpoint (max-sm){
                font-size: 34px;
            }
        }

        p {
            color: $white;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 40px;
        }
        
    }
}

.hero-2 {
    position: relative;
    z-index: 9;
    padding: 130px 0 130px;

    .array-button {
        display: grid;
        align-items: center;
        top: 50%;
        position: absolute;
        left: 0;
        transform: translateY(-50%);
        gap: 0;

        @include breakpoint (max-xxl){
           display: none;
        }

        .array-prev {
            background-color: $white;
            color: $header-color;
            border-radius: 0;
            border: none;

            &:hover {
                background-color: $header-color;
                color: $white;
            }
        }

        .array-next {
            background-color: $header-color;
            border-radius: 0;
            border: none;

            &:hover {
                background-color: $white;
                color: $header-color;
            }
        }
    }

    .hero-content {
        opacity: 0;
        z-index: 3;
        position: relative;
        transform: translateY(150px);

        .icon {
            margin-bottom: 40px;
        }

        h1 {
            font-size: 80px;
            color: $white;

            @include breakpoint (max-xl){
                font-size: 70px;
            }

            @include breakpoint (max-lg){
                font-size: 60px;
            }

            @include breakpoint (max-md){
                font-size: 48px;
            }

            @include breakpoint (max-sm){
                font-size: 36px;
            }
        }

        p {
            font-size: 20px;
            color: $white;
            margin-top: 30px;
            margin-bottom: 50px;
        }

        .theme-btn {
            background-color: $white;
            color: $header-color;

            &:hover {
                color: $white;
            }
        }
    }

    .hero-image {
        margin-right: -60%;
        position: relative;
        opacity: 0;
        z-index: 3;
        position: relative;
        transform: translateX(250px);

        @include breakpoint (max-lg){
            margin-right: 0;
        }

        img {
            border-radius: 1000px 0px 0px 1000px;
            @include imgw;
        }

        .video-box {
            position: absolute;
            top: 50%;
            left: 100px;
            transform: translateY(-50%);
            z-index: 9;

            @include breakpoint (max-md){
               display: none;
            }

            .video-buttton {
                width: 200px;
                height: 200px;
                line-height: 200px;
                text-align: center;
                border-radius: 50%;
                background-color: $white;
                display: inline-block;
                z-index: 9;
                font-size: 24px;
                color: $header-color;
                position: relative;

                .text-circle {
                    position: absolute;
                    top: 9%;
                    left: 10%;
                    -webkit-animation: cir36 10s linear infinite;
                    animation: cir36 10s linear infinite;
                    width: initial;
                    height: initial;
                }

            }
        }
    }

    .swiper {
        overflow: initial;
    }

    .swiper-slide.swiper-slide-active {
        .hero-content {
            opacity: 1;
            transform: translateY(0px);
            transition: all 1500ms ease;
        }
    
        .hero-image {
            opacity: 1;
            transform: translateX(0px);
            transition: all 2000ms ease;
        }
    }
}

.hero-3 {
    position: relative;

    .array-button{
        position: absolute;
        top: 50%;
        right: 30px;
        left: 30px;
        transform: translateY(-50%);
        @include flex;
        justify-content: space-between;
        z-index: 9;

        @include breakpoint (max-xxl){
            display: none;
        }
  
    }
  
    .swiper-slide-active .hero-image {
        -webkit-transform: scale(1.12);
        -moz-transform: scale(1.12);
        transform: scale(1.12);
    }

    .hero-image {
        overflow: hidden;
        position: absolute !important;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: -2;
        background-size: cover;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-position: bottom center;
        position: relative;
    
        &::before {
            @include before;
            background-color: rgb(2, 0, 12);
            opacity: 0.749;
        }
    }

    .shape-image {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .hero-content {
        position: relative;
        padding-top: 185px;
        padding-bottom: 200px;

        @include breakpoint (max-md){
            padding-top: 170px;
            padding-bottom: 185px;
        }

        @include breakpoint (max-sm){
            padding-top: 125px;
            padding-bottom: 145px;
        }
 
        h1 {
            font-size: 85px;
            line-height: 120%;
            @include breakpoint (max-xxl){
                font-size: 80px;
            }
 
             @include breakpoint (max-xl){
                 font-size: 72px;
             }
 
             @include breakpoint (max-lg){
                 font-size: 62px;
             }
 
             @include breakpoint (max-md){
                 font-size: 48px;
             }
 
             @include breakpoint (max-sm){
                 font-size: 36px;
                 line-height: 1.3;
             }
        }

        p {
            max-width: 600px;
            color: $white;
            margin-top: 30px;
        }
 
        .hero-button {
            @include flex;
            gap: 30px;
            margin-top: 50px;

            @include breakpoint (max-md){
                margin-top: 40px;
            }

            @include breakpoint (max-sm){
                margin-top: 25px;
                justify-content: center;
                flex-wrap: wrap;
            }

            .video-btn {
                background-color: $theme-color;
                color: $white;
                display: inline-block;
                font-size: 16px;
                height: 50px;
                width: 50px;
                line-height: 50px;
                border-radius: 50%;
                text-align: center;
                position: relative;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    right: 0;
                    bottom: 0;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 1px solid $theme-color;
                    content: "";
                    transform: translate(-50%,-50%);
                }
            }

            .button-text {
                span {
                    font-size: 16px;
                    color: $white;
                    font-weight: bold;
                }
            }
        }
    }
}

.hero-4 {
    background-color: $white;
    position: relative;
    z-index: 9;
    padding: 150px 0;

    @include breakpoint (max-md){
        padding: 130px 0;
    }

    .array-button {
        display: grid;
        align-items: center;
        top: 50%;
        position: absolute;
        left: 0;
        transform: translateY(-50%);
        gap: 0;

        @include breakpoint (max-xxl){
           display: none;
        }

        .array-prev {
            background-color: $theme-color;
            color: $white;
            border-radius: 0;
            border: none;
            gap: 10px;

            &:hover {
                background-color: $header-color;
                color: $white;
            }
        }

        .array-next {
            background-color: $header-color;
            border-radius: 0;
            border: none;

            &:hover {
                background-color: $white;
                color: $header-color;
            }
        }
    }

    .hero-image {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        top: 0;
        max-width: 950px;

        @include breakpoint (max-xl4){
           position: absolute;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           z-index: 9 !important;
           max-width: initial;

           &::before {
                @include before;
                background: linear-gradient(90deg, #16171A 0.06%, rgba(22, 23, 26, 0) 99.93%);
           }

           img {
                @include imgw;
                object-fit: cover;
           }
        }

        img {
            @include imgw;
        }
    }

    .dot-shape {
        position: absolute;
        top: 0;
        right: 600px;
    }

    .hero-content {
        position: relative;
        z-index: 9;
        margin-left: -60px;

        @include breakpoint (max-xxl){
           margin-left: 0;
        }

        @include breakpoint (max-md){
            text-align: center;
            margin: 0 auto;
        }

        h1 {
            color: $header-color;
            font-size: 68px;
            margin-bottom: 30px;

            @include breakpoint (max-xl4){
               color: $white;
            }

            @include breakpoint (max-xxxl){
                font-size: 60px;

                br {
                    display: none;
                }
            }

            @include breakpoint (max-lg){
                font-size: 50px;
            }

            @include breakpoint (max-md){
                font-size: 44px;
            }

            @include breakpoint (max-sm){
                font-size: 34px;
            }
        }

        p {
            color: $text-color;
            font-weight: 500;
            max-width: 600px;

            @include breakpoint (max-xl4){
                color: $white;
            }
        }
        
        .hero-button {
            @include flex;
            gap: 15px;
            margin-top: 50px;
            flex-wrap: wrap;

            @include breakpoint (max-md){
                justify-content: center;
                margin-top: 30px;
            }

            .theme-btn {
                &.bg-white {
                    &::before,&::after {
                        background-color: $theme-color;
                    }
                }

                &.header-bg {
                    background-color: $header-color;
                    color: $white;
                }
            }
        }
    }

    .hero-image-items {
        margin-right: -65%;
        padding-left: 40px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-lg){
           margin-right: 0;
        }

        @include breakpoint (max-lg){
           padding-left: 0;
        }

        .hero-images {
            position: relative;
            z-index: 9;
            max-width: 510px;
            height: 510px;

            img {
                @include imgw;
                border-radius: 68px;
            }
        }
    }
}